pytest==6.2.4
Flask==1.1.2
psycopg2-binary==2.8.6
yoyo-migrations==7.3.2
mongoengine==0.23.1
aiohttp==3.7.4.post0
aio-pika==6.8.0
asyncpg==0.24.0
sanic==21.6.2
pyTelegramBotAPI==3.8.2
envparse==0.2.0
